<div class="row">
	<div class="col m12 s12">
		<h1><%= @city.name %></h1>
		<div class="citypage-nav">
			<li><%= link_to 'Жилье', city_path(@city) %></li>
			<li><%= link_to 'Куда пойти?', place_city_path(@city) %></li>	
		</div>

		<%= image_tag @city.cover %>
		
		<div class="row">
			<div class="col m12 s12">
				<p class="bold">Где жить?</p>	
			</div>
			<% @city.houses.each do |house| %>
				<div class="col s12 m4">
					<div class="citypage-house-image">
						<%= image_tag house.cover_photo.try(:img).try(:url) unless house.cover_photo.blank? %>
					</div>
					<div class="citypage-house-name">
						<%= link_to house.name, house_path(house) %>	
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col m12 s12">
				<p class="bold">Куда пойти?</p>	
			</div>
			<% @city.places.each do |place| %>
				<div class="col s12 m4">
					<div class="citypage-house-image">
							
					</div>
					<div class="citypage-house-name">
						<%= link_to place.name, place_path(place) %>	
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
