<p id="notice"><%= notice %></p>

<p><%= @category.name %></p>

<% @category.cities.each do |city| %>
	<% city.houses.each do |h| %>
  	<p><%= link_to h.name, house_path(h) %></p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
